apiVersion: networking.k8s.io/v1
labels:
  "test": "true"

hosts:
  - url: test.url.local
    paths:
      - path: /test
        pathType: Prefix
        backend:
          service:
            name: test-svc
            port:
              number: 443
tls:
  - hosts:
      - test.url.local
    secretName: testsecret-tls
