name: Release Charts

on:
  push:
    branches:
      - master
    paths:
      - 'charts/**'

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
      - name: Install Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.14.4
      - name: Add Repo
        run: |
          helm repo add k8s-as-helm https://ameijer.github.io/k8s-as-helm
          helm repo update
      - name: Run chart-releaser
        uses: helm/chart-releaser-action@39ca3e607fa86db3e4199276373c41a2422897f7
        env:
          CR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
